name: upstate
description: A simple yet powerful state management library for Flutter that provides a continuous workflow from prototyping to production
version: 0.6.6
repository: "https://github.com/jonaird/upstate" 
homepage: "https://github.com/jonaird/upstate"

environment:
  sdk: ">=2.7.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:


